


h1 {
    padding: 20px;
    border: 20px;
    margin: 20px;
    text-align: center;
}




header {
    padding: 20px;
    text-align: center;
}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

.number-container {
    display: grid;
    gap: 10px;
}